<p>
    <a href="/leavesummary/<%= employeeLeaveClaimInfoData.emp_id %>">Leave Summary</a>
</p>
<p>
    <a href="#">Manual Letters</a>
</p>
<p>
    <a href="/leaveprovider?type=1&empId=<%= employeeLeaveClaimInfoData.emp_id %>&claimNumber=<%= employeeLeaveClaimInfoData.leave_info_id %>">
        Provider Information
    </a>
</p>
<p>
    <a href="/decision/<%= employeeLeaveClaimInfoData.leave_info_id %>">Decision</a>
</p>
<p>
    <a href="/leaveeligibility?empId=<%= employeeLeaveClaimInfoData.emp_id %>&claimNumber=<%= employeeLeaveClaimInfoData.leave_info_id %>">
        Eligibility Requirements
    </a>
</p>
<p>
    <a href="/leavechoronology/<%= employeeLeaveClaimInfoData.leave_info_id %>">Leave Chronology</a>
</p>
<p>
    <%
    if(employeeLeaveClaimInfoData.leave_status === 1 || employeeLeaveClaimInfoData.leave_status === 3) {
    %>
        <a href="/closeLeave/<%= employeeLeaveClaimInfoData.leave_info_id %>"
           onclick="return confirm('Are you sure?')">Close Leave</a>

    <% } else { %>
        <a href="/reopenLeave/<%= employeeLeaveClaimInfoData.leave_info_id %>"
           onclick="return confirm('Are you sure?')">Reopen Leave</a>

    <% } %>

</p>