<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <% include ../partials/topnav %>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav1"></div>
            <div class="col-sm-8 text-left">
                <h1>Edit Task</h1>
                <br>
                <form id="frmTask" name="frmTask">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="pickManager">
                                <select name="userId" id="task_userId" required>
                                    <option value="">All Claim Manager</option>
                                    <% getManagerData.forEach(function(data) { %>
                                        <% if(data.userId == user_id) { %>
                                            <option value="<%= data.userId %>" selected><%= data.name %></option>
                                        <% } else { %>
                                            <option value="<%= data.userId %>"><%= data.name %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="start">Task Due Date</label>
                                <input class="form-control1 input-sm" type="date" id="task_dueDate" name="dueDate"
                                       value="<%= dueDateDB %>"
                                       min="1990-01-01" max="2088-12-31" required/>
                            </div>
                        </div>
                    </div>
                    <br> <br>
                    <div class="form-group">
                        <label for="taskName">Task Name</label>
                        <input type="text" class="form-control" id="task_taskName" name="tastName"
                               value="<%= taskName %>"
                               placeholder="Write Task Name" required>

                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Description </label>
                        <textarea class="form-control" name="taskDesc" id="task_taskDesc"
                                  rows="4"> <%= taskDesc %> </textarea>
                    </div>
                    <!-- Modal Task Completed Check box -->
                    <div class="row taskcheckoff">
                        <div class="col-md-12">
                            <input type="checkbox" id="task_status" name="status"
                                   value=<%= statusType %> class="taskCheckBox"
                                    <%= statusType ? "checked" : "" %>
                            >Task Completed
                        </div>
                    </div>

                    <div class="row>">
                        <div class="modal-footer">
                            <button type="button" id="taskModelclose" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="button" id="editTaskBtn" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <input type="hidden" id="userId" name="userId" value="<%= user_id %>">
            <input type="hidden" id="empId" name="noteId" value="<%= empId %>">
            <input type="hidden" id="taskId" name="taskId" value="<%= taskId %>">
            </form>
        </div>
    </div>
</body>
<% include ../partials/footer %>
<script type="text/javascript">
  $(document).ready(function () {

    $('#editTaskBtn').on('click', e => {
      console.log("....................");
      let userId = $("#userId").val();
      let dueDate = $("#task_dueDate").val();
      let taskName = $("#task_taskName").val();
      let taskDesc = $("#task_taskDesc").val();

      let leaveInfoId = $('#leaveInfoId').val();
      let taskId = $('#taskId').val();
      let empId = $('#empId').val();
      let status = 0;
      if ($('#task_status').prop('checked') == true) {
        status = 1;
      }

      e.preventDefault();
      //  user_id = $('#user_id').val();
      $.ajax({
        type: 'post',
        url: getTaskURL + '/edittask',
        data: {
          "taskId": taskId,
          "taskName": taskName,
          "userId": userId,
          "dueDate": dueDate,
          "taskDesc": taskDesc,
          "status": status,
          "leaveInfoId": leaveInfoId,
          "empId": empId
        },
        success: result => {
          //alert_message(result.data.message, 'success');
          if (result.status === true) {
            setCookie('success', result.data.message, 1);
            window.location.href = windowLocation.origin + '/task';
          } else {
            alert_message(result.error.message, 'fail');
          }

        },
        error: result => {
          console.log(result)
        }
      });

    });

  });
</script>
</html>