<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>
<input type="hidden" name="empId" id="empId" value="<%= employeeLeaveClaimInfoData.emp_id %>">
<input type="hidden" name="leaveInfoId" id="leaveInfoId" value="<%= employeeLeaveClaimInfoData.leave_info_id %>">

<div class="container">
<% include ../partials/topnav %>
    <div class="container-fluid text-center">

        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p>
                    <a href="/leavesummary/<%= employeeLeaveClaimInfoData.emp_id %>">Leave Summary</a>
                </p>
                <p>
                    <a href="#">Manual Letters</a>
                </p>
                <p>
                    <a href="/leaveprovider?type=1&empId=<%= employeeLeaveClaimInfoData.emp_id %>&claimNumber=<%= employeeLeaveClaimInfoData.leave_info_id %>">
                        Provider Information
                    </a>
                </p>
                <p>
                    <a href="/decision/<%= employeeLeaveClaimInfoData.leave_info_id %>">Decision</a>
                </p>
                <p>
                    <a href="/leaveeligibility?empId=<%= employeeLeaveClaimInfoData.emp_id %>&claimNumber=<%= employeeLeaveClaimInfoData.leave_info_id %>">
                        Eligibility Requirements
                    </a>
<!--                    <a href="#">Eligibility Requirements</a>-->
                </p>
                <p>
                    <a href="../Ancillary/leaveChronologyFamilyMember.html">Leave Chronology</a>
                </p>
                <p>
                    <a href="/closeLeave/<%= employeeLeaveClaimInfoData.leave_info_id %>">Close Leave</a>
                </p>
            </div>
            <div class="col-sm-8 text-left well">
                <div class="row">
                    <div class="col-md-10">
                        <h5>Leave Information</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 id="createTasks" data-toggle="modal" data-target="#myModal"><a href="#">Create Tasks</a>
                        </h5>
                    </div>
                </div>

                <table id="leaveInfo">
                    <tr>
                        <th id="leaveType">Leave Type</th>
                        <th id="leaveReason">Leave Reason</th>
                        <th id="leaveDates">Dates</th>
                        <th id="leavePlan">State/FMLA Plan</th>
                        <th id="leaveNotes">
                            <!-- Trigger the Task modal with a button -->
                            <button type="button" class="btn btn-info btn-md" class="outputTask" id="notesList"  data-toggle="modal" data-target="#noteModal" data-spy="scroll">
                                <i class="fa fa-sticky-note" aria-hidden="true"></i> Notes</i>

                            </button>


                            <!-- Notes Modal -->
                            <div class="modal fade" id="noteModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content ">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            <p class="modal-title">Leave Notes</p>
                                            <br>
                                            <a href="" data-toggle="modal" data-target="#newNoteModal2"><i
                                                        class="fa fa-sticky-note" aria-hidden="true"
                                                        style="margin-left: 0%;"></i>New Note</i></a>
                                        </div>
                                        <div id="loadnotes" class="modal-body" style="font-size: small; font-weight: normal ;">
                                            

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <!-- Modal -->
                            <div class="modal fade" id="newNoteModal2" role="dialog">
                                <div class="modal-dialog">
                                    <form>
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Create A New Note</h4>
                                        </div>
                                        <div class="modal-body form-group">
                                            <label for="FormControlTextarea1">Note Information</label>
                                            <textarea class="form-control" id="notes" id="notes" rows="4"> </textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            <button type="button" id="createNoteBtn" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- <p id="employeeStatus">Status:Active</p> -->

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">Set Task</h5>
                        </div>

                        <div class="modal-body">
                            <form>
                            <div class="row">
                                <div class="col-md-6">

                                    <div id="pickManager">                                       
                                            <select name="userId" id="task_userId" required>
                                                <option value="">All Claim Manager</option>
                                                 <% getManagerData.forEach(function(data) { %> 
                                                 <option value="<%= data.userId %>"><%= data.name %></option>
                                                 <% }); %>
                                               
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="start">Task Due Date</label>
                                        <input class="form-control1 input-sm" type="date" id="task_dueDate" name="dueDate"
                                               value="" min="1990-01-01" max="2088-12-31" required />
                                    </div>

                                </div>
                            </div>
                            <br> <br>
                            <div class="form-group">
                                <label for="taskName">Task Name</label>
                                <input type="text" class="form-control" id="task_taskName" name="tastName" placeholder="Write Task Name" required>
                            </div>


                            <div class="form-group">

                                <label for="FormControlTextarea1">Description </label>
                                <textarea  class="form-control" name="taskDesc" id="task_taskDesc"
                                          rows="4"> </textarea>
                            </div>


                            <!-- Modal Task Completed Check box -->
                            <div class="row taskcheckoff">
                                <div class="col-md-12">
                                    <input type="checkbox" id="task_status" name="status" value="1" class="taskCheckBox">Task Completed</div>
                            </div>

                            <div class="row>">
                                <div class="modal-footer">
                                    <button type="button" id="foo" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                    <button type="button" id="createTaskBtn" class="btn btn-primary">submit</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </th>
            </tr>
            <td id="leaveType"><%= employeeLeaveClaimInfoData.leave_type %></td>
            <td id="leaveReasonCode"><%= employeeLeaveClaimInfoData.leave_reason %></td>
            <td id="leaveDates"><%= employeeLeaveClaimInfoData.from_date %> - <%= employeeLeaveClaimInfoData.to_date %></td>
            <td id="leavePlan"><%= employeeLeaveClaimInfoData.leave_name %> </td>
            </table>

            <hr>
            <h5>Plan Summary</h5>
            <div class="row">
                <div class="col-md-12">
                    <table class="planDataSummary">
                        <tr>
                            <th>Plan Name</th>
                            <th>Total Hours / Weeks Available</th>
                            <th>Leave Usage</th>
                            <th>Hours Remaining(To Date)</th>
                        </tr>
                        <!--<tr>
                            <td>FMLA<br>CFRA</td>
                            <td>480 Hours / 12 Weeks<br>480 Hours / 12 Weeks</td>
                            <td>160 Hours / 4 Weeks<br>160 Hours / 4 Weeks</td>
                            <td>320 Hours / 8 Weeks<br>320 Hours / 8 Weeks</td>
                        </tr>-->
                        <% planMaximumDuration.forEach(function(data) { %>
                            <tr>
                                <td><%= data.leave_name %></td>
                                <td><%= data.total %></td>
                                <td><%= data.usage %></td>
                                <td><%= data.remain %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
            <hr>
            <h5>Plan Status</h5>
            <div class="claimStatus">
                <div class="well">
                    <% planStatus.forEach(function(data) { %>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="planName"><%= data['leave_name'] %></div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="plandates"><%= data['from_date'] %> - <%= data['to_date'] %></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="<%= employeeLeaveClaimInfoData.leave_type_status %>"></div>
                            </div>
                        </div>
                    </div>
                        <br><br>
                        <% }); %>
<!--                    <br><br>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="planName">Short Term Disability (STD)</div>-->
<!--                        </div>-->
<!--                        <div class="col-md-4"></div>-->
<!--                        <div class="col-md-4">-->
<!--                            <div class="plandates">MM/DD/YYYY - MM/DD/YYYY</div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-12">-->
<!--                                <div class="planStatus1"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <h5 style="background-color:lightgrey;">Tasks</h5>
            <div class="newTasks">
                <div class="outputTask"><a>Eligibility</a><span class="taskDate"
                                                                style="padding-left: 25px;">MM/DD/YYYY</span></div>
                <div class="outputTask"><a>Decision</a><span class="taskDate"
                                                             style="padding-left: 25px;">MM/DD/YYYY</span></div>
                <!-- Trigger the Paperwork modal with a button -->
                <div class="outputTask" data-toggle="modal" data-target="#myModal2"><a>Paperwork Review</a><span
                            class="taskDate" style="padding-left: 25px;">MM/DD/YYYY</span>                    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Paperwork Review</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Trigger the ERTW modal with a button -->
                <div class="outputTask" data-toggle="modal" data-target="#myModal3"><a>ERTW
                        Confirmation</a><span class="taskDate" style="padding-left: 25px;">MM/DD/YYYY</span>                    
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Estimated Return To Work Confirmation</h4>
                            </div>
                            <br>
                            <div id="pickManager">
                                <form action="">
                                    <select name="managers" required>
                                        <option value="All">All Claim Handler</option>
                                        <option value="Hassan">Hassan</option>
                                        <option value="Hassan">Emilee</option>
                                        <option value="Hassan">Carrie</option>
                                    </select>
                            </div>

                            <div class="modal-body">
                                <p>What is the estimated return to work date?</p>
                                <div>
                                    <input type="date" id="start" name="trip" value="2018-07-22"
                                           min="1990-01-01" max="2088-12-31" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close</button>
                                <button type="sumbmit" class="btn btn-default"
                                        data-dismiss="modal">submit</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Trigger the Paperwork modal with a button -->
                <div class="outputTask" data-toggle="modal" data-target="#myModal4"><a>ARTW
                        Confirmation</a><span class="taskDate" style="padding-left: 25px;">MM/DD/YYYY</span>                   
                </div>
                 <!-- Modal -->
                <div class="modal fade" id="myModal4" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Actual Return To Work Confirmation</h4>
                            </div>
                            <br>
                            <div id="pickManager">
                                <form action="">
                                    <select name="managers" required>
                                        <option value="All">All Claim Handler</option>
                                        <option value="Hassan">Hassan</option>
                                        <option value="Hassan">Emilee</option>
                                        <option value="Hassan">Carrie</option>
                                    </select>
                            </div>
                            <div class="modal-body">
                                <p>What is the Actual return to work date?</p>
                                <div>
                                    <input type="date" id="start" name="trip" value="2018-07-22"
                                           min="1990-01-01" max="2088-12-31" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">Close</button>
                                <button type="sumbmit" class="btn btn-default"
                                        data-dismiss="modal">submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br><br>


            <div id="Datepicker1">
                <section>
                    <h5 style="background-color:lightgrey;">Enter Intermittent Usage</h5>
                    <article>
                        <div class="three-calendars"></div>
                    </article>
                </section>
            </div>


            <br><br>
            <h5>Notifications</h5>
            <table id="notifications">
                <tr>
                    <th>Letter</th>
                    <th>Contact</th>
                    <th>Sent By</th>
                    <th>Date</th>
                </tr>

                <tr id="employeeInfo">
                    <td id="letterSent">
                        <a href="#"> Decision</a>
                    </td>
                    <td id="employee">Francisco Chang(TM)</td>
                    <td id="letterSentMethod">Mail, E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr>
                    <td id="letterSent">
                        <a href="#">Decision</a>
                    </td>
                    <td id="supervisor">Roland Mendel</td>
                    <td id="letterSentMethod">E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr id="employeeInfo">
                    <td id="letterSent">
                        <a href="#">Eligibility</a>
                    </td>
                    <td id="employee">Francisco Chang(TM)</td>
                    <td id="letterSentMethod">Mail, E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr>
                    <td id="letterSent">
                        <a href="#">Eligibility</a>
                    </td>
                    <td id="supervisor">Roland Mendel</td>
                    <td id="letterSentMethod">E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>

            </table>
            <br>
            <button class="upload-btn-wrapper" type="submit" class="btn btn-primary" type="file" id="attachPw"
                    onclick="uploadNewPaperwork()">Attach Paperwork<input type="file" name="myfile" /></button>

            <button type="submit" class="btn btn-primary">Upload Paperwork </button>




        </div>


        <div class="col-sm-2 sidenav2">
            <div class="well">
                <p id="addName">First Last</p>
                <p id="addAddress">100 someplace ave, somewhere, AN, 00000</p>
                <p id="employeePhoneNumber">Phone Number: </p>
                <p id="employeeGender">Gender:</p>
                <p id="addEmail">Email: someone@place.com</p>
                <p id="employeeStatus">Status:Active</p>
            </div>

            <div class="noteArea"></div>

            <br>

            <div class="well sidenav2">
                <div id="supervisorcontacts">
                    <p id="supervisorName">Supervisor Name:</p>
                    <p id="supervisorPhoneNumber">Supervisor Number:</p>
                    <p id="supervisorEmail">Supervisor Email:</p>
                </div>
                <div id="HRcontacts">
                    <p id="supervisorName">Human Resources Name:</p>
                    <p id="supervisorPhoneNumber">Human Resources Number:</p>
                    <p id="supervisorEmail">Human Resources Email:</p>
                </div>
                <div id="payrollcontacts">
                    <p id="supervisorName">Payroll/Benefits Name:</p>
                    <p id="supervisorPhoneNumber">Payroll/Benefits Number:</p>
                    <p id="supervisorEmail">Payroll/Benefits Email:</p>
                </div>

            </div>

            <div class="well">
                <p id="updateClaimNumber">Leave ID: 2019000001</p>
                <p id="dateOpened">Date Opened: 00/00/0000</p>
                <p id="employeePhoneNumber">Return Date: 00/00/0000 </p>
                <p id="employeeGender">Gender:</p>
                <p id="dateClosed">Date Closed:00/00/0000</p>
                <p id="leaveStatus">Status:Opened</p>
            </div>
        </div>
    </div>
</div>

</body>
<% include ../partials/footer %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#createTaskBtn').on('click', function (e) {       
            let userId = $("#task_userId").val();  
            let dueDate = $("#task_dueDate").val();  
            let taskName = $("#task_taskName").val();  
            let taskDesc = $("#task_taskDesc").val();
            
            let leaveInfoId = $('#leaveInfoId').val();
            let empId = $('#empId').val();
            let status = 0;
            if ($('#task_status').prop('checked')==true){ 
                status = 1;  
            }
            
            if(userId == '')
            {
                alert_message('Please select Manager', 'fail');
                return false;  
            }
            if(taskName == '')
            {
                alert_message('Please enter Task Name', 'fail');
                return false;  
            }
            if(dueDate == '')
            {
                alert_message('Please select Due Date', 'fail');
                return false;  
            }
            e.preventDefault();
            $.ajax({
                type: 'post',
                url:  getTaskURL+'/addtask',
                data: { "taskName": taskName, "userId": userId, "dueDate": dueDate, "taskDesc": taskDesc, "status": status, "leaveInfoId": leaveInfoId, "empId":empId },
                success: result => {
                //alert_message(result.data.message, 'success');
                    if(result.status === true){
                        alert_message(result.data.message, 'success'); 
                        $("#myModal").modal("hide");
                        $('.modal-backdrop').css('display', 'none');
                        // window.location.href = windowLocation.origin + '/claimcontinuous/'+leaveInfoId;
                    }
                    else
                    {
                        alert_message(result.error.message, 'fail');   
                    }

                },
                error: result => {
                    console.log(result)
                }
            });
        });

        $('#createNoteBtn').on('click', function (e) {
            let notes = $("#notes").val();
            let leaveInfoId = $('#leaveInfoId').val();
            let empId = $('#empId').val();
            let status = 0;           
            
            if(notes == '')
            {
                alert_message('Please enter Notes', 'fail');
                return false;  
            }
       
            e.preventDefault();
            $.ajax({
                type: 'post',
                url:  getTaskURL+'/addnotes',
                data: { "notes": notes, "leaveInfoId": leaveInfoId, "empId":empId },
                success: result => {
                //alert_message(result.data.message, 'success');
                    if(result.status === true){
                        alert_message(result.data.message, 'success'); 
                        $("#newNoteModal2").modal("hide");
                        //$('.modal-backdrop').css('display', 'none');
                        // window.location.href = windowLocation.origin + '/claimcontinuous/'+leaveInfoId;
                    }
                    else
                    {
                        alert_message(result.error.message, 'fail');   
                    }

                },
                error: result => {
                    console.log(result)
                }
            });
        });

          let template = '<p style="color: blue;">{{empName}} {{createdDate}}</p>\n' +
    '                     <p>{{notes}}</p>\n' +
    '                     <p style="font-size: small; color: rgba(0, 0, 255, 0.789); float: right;">Edit note</p><br>\n' +
    '                     <hr class="noteLines">';
        $('#notesList').click(function(){
            $.ajax({
                type: "GET",
                url: getTaskURL+'/notes',
                dataType: 'json',
                success: result => {
                //alert_message(result.data.message, 'success');
                    if(result.status === true){
                        $('#loadnotes').html('');
                        (result.data).forEach(d => {
                            $("#loadnotes").append(generatingTemplate(template, d))
                        });
                        // update modal content
                      //  $('#noteModal .modal-body').text(data.someval);
                        // show modal
                        $('#noteModal').modal('toggle');
                        //$('#noteModal').modal('show');
                    }
                    else
                    {
                        alert_message(result.error.message, 'fail');   
                    }

                },
                error: result => {
                    console.log(result)
                }
            });
        });
    });
</script>
</html>