<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/pickmeup.css" type="text/css" />
</head>
<body>
<input type="hidden" name="empId" id="empId" value="<%= employeeLeaveClaimInfoData.emp_id %>">
<input type="hidden" name="leaveInfoId" id="leaveInfoId" value="<%= employeeLeaveClaimInfoData.leave_info_id %>">
<input type="hidden" name="userId" id="userId" value="<%= userId %>">
<div class="container">
    <% include ../partials/topnav %>
    <div class="container-fluid text-center">

        <div class="row content">
            <div class="col-sm-2 sidenav">
                <% include ../partials/leavesidebar %>
            </div>
            <div class="col-sm-8 text-left well">
                <div class="row">
                    <div class="col-md-10">
                        <h5>Leave Information</h5>
                    </div>
                    <div class="col-md-2">
                        <h5 id="createTasks" data-toggle="modal" data-target="#myModal"><a href="#">Create Tasks</a>
                        </h5>
                    </div>
                </div>

                <table id="leaveInfo">
                    <tr>
                        <th id="leaveType">Leave Type</th>
                        <th id="leaveReason">Leave Reason</th>
                        <th id="leaveDates">Dates</th>
                        <th id="leavePlan">State/FMLA Plan</th>
                        <th id="leaveNotes">
                            <% include ../partials/note %>
                        </th>
                    </tr>
                    <tr>
                        <td id="leaveType"><%= employeeLeaveClaimInfoData.leave_type %></td>
                        <td id="leaveReasonCode"><%= employeeLeaveClaimInfoData.leave_reason %></td>
                        <td id="leaveDates"><%= employeeLeaveClaimInfoData.from_date %> - <%= employeeLeaveClaimInfoData.to_date %></td>
                        <td id="leavePlan"><%= employeeLeaveClaimInfoData.leave_name %> </td>
                    </tr>
                </table>

            <hr>
            <h5>Plan Summary</h5>
            <div class="row">
                <div class="col-md-12">
                    <table class="planDataSummary">
                        <tr>
                            <th>Plan Name</th>
                            <th>Total Hours / Weeks Available</th>
                            <th>Leave Usage</th>
                            <th>Hours Remaining(To Date)</th>
                        </tr>
                        <!--<tr>
                            <td>FMLA<br>CFRA</td>
                            <td>480 Hours / 12 Weeks<br>480 Hours / 12 Weeks</td>
                            <td>160 Hours / 4 Weeks<br>160 Hours / 4 Weeks</td>
                            <td>320 Hours / 8 Weeks<br>320 Hours / 8 Weeks</td>
                        </tr>-->
                        <% planMaximumDuration.forEach(function(data) { %>
                            <tr>
                                <td><%= data.leave_name %></td>
                                <td><%= data.total %></td>
                                <td><%= data.usage %></td>
                                <td><%= data.remain %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
            <hr>
            <h5>Plan Status</h5>
            <div class="claimStatus">
                <div class="well">
                    <% planStatus.forEach(function(data) { %>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="planName"><%= data['leave_name'] %></div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="plandates"><%= data['from_date'] %> - <%= data['to_date'] %></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="<%= employeeLeaveClaimInfoData.leave_type_status %>"></div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    <% }); %>
                    <!--                    <br><br>-->
                    <!--                    <div class="row">-->
                    <!--                        <div class="col-md-4">-->
                    <!--                            <div class="planName">Short Term Disability (STD)</div>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-md-4"></div>-->
                    <!--                        <div class="col-md-4">-->
                    <!--                            <div class="plandates">MM/DD/YYYY - MM/DD/YYYY</div>-->
                    <!--                        </div>-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-md-12">-->
                    <!--                                <div class="planStatus1"></div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>

            <h5 style="background-color:lightgrey;">Tasks</h5>
            <div class="newTasks">
                <div class="outputTask"><a>Eligibility</a><span class="taskDate"
                                                                style="padding-left: 25px;">MM/DD/YYYY</span></div>
                <div class="outputTask"><a>Decision</a><span class="taskDate"
                                                             style="padding-left: 25px;">MM/DD/YYYY</span></div>
                <!-- Trigger the Paperwork modal with a button -->
                    <% include ../partials/paperwork.ejs %>
                <!-- Trigger the ERTW modal with a button -->
                <!--<div class="outputTask" data-toggle="modal" data-target="#myModal3"><a>ERTW
                        Confirmation</a><span class="taskDate" style="padding-left: 25px;">MM/DD/YYYY</span>
                    &lt;!&ndash; Modal &ndash;&gt;
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            &lt;!&ndash; Modal content&ndash;&gt;
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Estimated Return To Work Confirmation</h4>
                                </div>
                                <br>
                                <div id="pickManager">
                                    <form action="">
                                        <select name="managers" required>
                                            <option value="All">All Claim Handler</option>
                                            <option value="Hassan">Hassan</option>
                                            <option value="Hassan">Emilee</option>
                                            <option value="Hassan">Carrie</option>
                                        </select>
                                </div>

                                <div class="modal-body">
                                    <p>What is the estimated return to work date?</p>
                                    <div>
                                        <input type="date" id="start" name="trip" value="2018-07-22"
                                               min="1990-01-01" max="2088-12-31" />
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                    <button type="sumbmit" class="btn btn-default"
                                            data-dismiss="modal">submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>-->

                <!-- Trigger the Paperwork modal with a button -->
                <!--<div class="outputTask" data-toggle="modal" data-target="#myModal4"><a>ARTW
                        Confirmation</a><span class="taskDate" style="padding-left: 25px;">MM/DD/YYYY</span>
                    &lt;!&ndash; Modal &ndash;&gt;
                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">

                            &lt;!&ndash; Modal content&ndash;&gt;
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Actual Return To Work Confirmation</h4>
                                </div>
                                <br>
                                <div id="pickManager">
                                    <form action="">
                                        <select name="managers" required>
                                            <option value="All">All Claim Handler</option>
                                            <option value="Hassan">Hassan</option>
                                            <option value="Hassan">Emilee</option>
                                            <option value="Hassan">Carrie</option>
                                        </select>
                                </div>

                                <div class="modal-body">
                                    <p>What is the Actual return to work date?</p>
                                    <div>
                                        <input type="date" id="start" name="trip" value="2018-07-22"
                                               min="1990-01-01" max="2088-12-31" />
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                    <button type="sumbmit" class="btn btn-default"
                                            data-dismiss="modal">submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>-->
            </div>
            <br><br>


            <div id="Datepicker1">
                <section>
                    <h5 style="background-color:lightgrey;">Enter Intermittent Usage</h5>
                    <h6 id="createTasks1" data-toggle="modal" data-target="#intermittentTimeModal"><a href="#">Enter Time</h6>
                    <div class="modal fade" id="intermittentTimeModal" role="dialog">
                        <div class="modal-dialog">
                            <p id="employeeStatus">Status:Active</p>

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Enter The Intermittent Time</h5>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group" style="color: black; font-size: small;">
                                        Flare Up: 6/29/2019 - 12/28/2019 <br />
                                        Parameters: 4 time(s) a month, each time lasting up to 1 day(s)
                                    </div>
                                    <div class="form-group" style="color: black; font-size: small;">
                                        Office Visits: 6/29/2019 - 10/15/2019 <br />
                                        Parameters: 4 time(s) a month, each time lasting up to 1 day(s)
                                    </div>

                                    <label>Is this absence a flare up or an office visit?</label>
                                    <div id="pickIntermittentType">
                                        <form action="/intyType.php">
                                            <select name="intType" required>
                                                <option value="flareUp">Flare Up</option>
                                                <option value="officeVisit">Office Visit</option>
                                            </select>
                                    </div>

                                    <div class="form-group">

                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <label for="start">Date Time Used</label>
                                            <input class="form-control1 input-sm" type="date" id="start" name="trip" value="2018-07-22"
                                                   min="1990-01-01" max="2088-12-31" />
                                        </div>

                                        <br>

                                        <label for="FormControlTextarea1">How many hours used? </label>
                                        <input type="number" class="form-control1 input-sm" id="inputwednesdayRSHours" placeholder="0" required>
                                    </div>

                                    <label>Is this absence a flare up or an office visit?</label>
                                    <div id="pickIntermittentStatus">
                                        <form action="/intyTypeApproval.php">
                                            <select name="intTypeApproval" required>
                                                <option value="pendingIntTime">Pending</option>
                                                <option value="approvedIntTime">Approved</option>
                                                <option value="deniedIntTime">Denied</option>
                                            </select>
                                    </div>
                                    <br>
                                    <!-- Modal Task Completed Check box-->
                                    <div class="custom-control custom-checkbox">
                                        <label for="FormControlTextarea1">Comment on why time was approved/denied</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"> </textarea>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="sumbmit" class="btn btn-primary" data-dismiss="modal">submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <article>
                        <div class="three-calendars"></div>
                    </article>
                </section>
            </div>


            <br><br>
            <h5>Notifications</h5>
            <table id="notifications">
                <tr>
                    <th>Letter</th>
                    <th>Contact</th>
                    <th>Sent By</th>
                    <th>Date</th>
                </tr>

                <tr id="employeeInfo">
                    <td id="letterSent">
                        <a href="#"> Decision</a>
                    </td>
                    <td id="employee">Francisco Chang(TM)</td>
                    <td id="letterSentMethod">Mail, E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr>
                    <td id="letterSent">
                        <a href="#">Decision</a>
                    </td>
                    <td id="supervisor">Roland Mendel</td>
                    <td id="letterSentMethod">E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr id="employeeInfo">
                    <td id="letterSent">
                        <a href="#">Eligibility</a>
                    </td>
                    <td id="employee">Francisco Chang(TM)</td>
                    <td id="letterSentMethod">Mail, E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>
                <tr>
                    <td id="letterSent">
                        <a href="#">Eligibility</a>
                    </td>
                    <td id="supervisor">Roland Mendel</td>
                    <td id="letterSentMethod">E-Mail</td>
                    <td id="letterDate">06/25/2018</td>
                </tr>

            </table>
            <br>
            <button class="upload-btn-wrapper" type="submit" class="btn btn-primary" type="file" id="attachPw"
                    onclick="uploadNewPaperwork()">Attach Paperwork<input type="file" name="myfile" /></button>

            <button type="submit" class="btn btn-primary">Upload Paperwork </button>




        </div>


        <div class="col-sm-2 sidenav2">
            <div class="well">
                <p id="addName">First Last</p>
                <p id="addAddress">100 someplace ave, somewhere, AN, 00000</p>
                <p id="employeePhoneNumber">Phone Number: </p>
                <p id="employeeGender">Gender:</p>
                <p id="addEmail">Email: someone@place.com</p>
                <p id="employeeStatus">Status:Active</p>
            </div>

            <div class="noteArea"></div>

            <br>

            <div class="well sidenav2">
                <div id="supervisorcontacts">
                    <p id="supervisorName">Supervisor Name:</p>
                    <p id="supervisorPhoneNumber">Supervisor Number:</p>
                    <p id="supervisorEmail">Supervisor Email:</p>
                </div>
                <div id="HRcontacts">
                    <p id="supervisorName">Human Resources Name:</p>
                    <p id="supervisorPhoneNumber">Human Resources Number:</p>
                    <p id="supervisorEmail">Human Resources Email:</p>
                </div>
                <div id="payrollcontacts">
                    <p id="supervisorName">Payroll/Benefits Name:</p>
                    <p id="supervisorPhoneNumber">Payroll/Benefits Number:</p>
                    <p id="supervisorEmail">Payroll/Benefits Email:</p>
                </div>

            </div>

            <div class="well">
                <p id="updateClaimNumber">Leave ID: 2019000001</p>
                <p id="dateOpened">Date Opened: 00/00/0000</p>
                <p id="employeePhoneNumber">Return Date: 00/00/0000 </p>
                <p id="employeeGender">Gender:</p>
                <p id="dateClosed">Date Closed:00/00/0000</p>
                <p id="leaveStatus">Status:Opened</p>
            </div>
        </div>
    </div>
</div>

</body>
<% include ../partials/footer %>
<script src="/javascripts/pickmeup.js"></script>

<script>
  addEventListener('DOMContentLoaded', function () {
    pickmeup('.single', {
      flat : true
    });
    pickmeup('.multiple', {
      flat : true,
      mode : 'multiple'
    });
    pickmeup('.range', {
      flat : true,
      mode : 'range'
    });
    var plus_5_days = new Date;
    plus_5_days.setDate(plus_5_days.getDate() + 5);
    pickmeup('.three-calendars', {
      flat      : true,
      date      : [
        new Date,
        plus_5_days
      ],
      mode      : 'range',
      calendars : 3
    });
    pickmeup('input', {
      position       : 'right',
      hide_on_select : true
    });
  });


</script>
</html>