<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <% include ../partials/topnav %>
    <div class="container-fluid text-center">
        <!-- <div class="row content">
            <div class="col-sm-2 sidenav1">
              <p>

            </div> -->
        <div class="col-md-10 text-left">

            <!-- this will be the beginning of the form that will contain the employee's information -->
            <h5>Plan Status</h5>
            <div class="claimStatus">
                <div class="well">
                    <% planStatus.forEach(function(data) { %>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="planName"><%= data['leave_name'] %></div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="plandates" id="planDates"><%= data['from_date'] %>
                                    - <%= data['to_date'] %></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 planStatusBarParent">
                                    <div class="<%= employeeLeaveClaimInfoData.leave_type_status %> planStatusBar"></div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    <% }); %>
<!--                    <br><br>-->
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="planName">Short Term Disability (STD)</div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="plandates">MM/DD/YYYY - MM/DD/YYYY</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="planStatus1"></div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

            <br>

            <div class="form-row">
                <form>
                    <div class="form-row">
                        <h5>Determination </h5>
                        <div class="form-group col-md-12 well" style="padding-bottom: 50px;">

                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="fromDate">Start Date</label>
                                    <input type="date" class="form-control" id="fromDate"
                                           value="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           min="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           max="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="toDate">End Date</label>
                                    <input type="date" class="form-control" id="toDate"
                                           value="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           min="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           max="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           required>
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.leave_info_id %>"
                                           id="leaveInfoId">
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.leave_type %>"
                                           id="leaveType">
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.emp_id %>"
                                           id="empId">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="input-leavetype">Leave Type</label>
                                    <select name="manager" id="selectLeaveTypeOptions"
                                            placeholder="Select Leave Type">
                                        <% leaveTypeStatus =
                                                {
                                                    pending: "Pending", denied: "Denied",
                                                    approved: 'Approved', notapplicable: 'Not Applicable'
                                                } %>

                                        <% Object.keys(leaveTypeStatus).forEach(function(key) { %>
                                            <% if(key === employeeLeaveClaimInfoData.leave_type_status) { %>
                                                <option value="<%= key %>" selected><%= leaveTypeStatus[key] %></option>
                                            <% } else { %>
                                                <option value="<%= key %>"><%= leaveTypeStatus[key] %></option>
                                            <% } %>

                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3Determination">
                                    <label for="inputEndDate4">Submit Change</label>
                                    <button type="button" class="btn btn-primary" id="leaveDecisionButton">Submit >
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="leaveDecisionSubmitButton">Submit ></button>
                        <button type="button"
                                onclick="location.href = '/claim<%= employeeLeaveClaimInfoData.leave_type %>/<%= employeeLeaveClaimInfoData.leave_info_id %>';"
                                class="btn btn-secondary">
                            Cancel >
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!--side bar where employee and supervisor info will populate-->
        <div class="col-sm-2 sidenav2">
            <div class="row">
                <p>
                    <a class="active" href="#">Employee Information</a>
                </p>
                <p>
                    <a href="#">Location Information</a>
                </p>
                <p>
                    <a href="#">Leave Reason</a>
                </p>
                <p>
                    <a href="#">Provider Information</a>
                </p>
                <p>
                    <a href="#">Leave Information</a>
                </p>
                <p>
                    <a href="#">Leave Home</a>
                </p>
                <br>
                <!-- <div class="col-sm-12"> -->
                <% include ../partials/employeeinfo.ejs %>
                <!-- </div> -->
            </div>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="noteArea">

                </div>
                <!-- </div> -->
            </div>

            <br>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <% include ../partials/employeecontactlist.ejs %>
                <div class="well claimInfoSummary">
                    <p id="updateClaimNumber">Leave ID: 2019000001</p>
                    <p id="dateOpened">Date Opened: 00/00/00 00</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="dateClosed">Date Closed:00/00/0000</p>
                    <p id="leaveStatus">Status:Opened</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<% include ../partials/footer %>

<script>

  $(document).ready(function () {
    $('#leaveDecisionButton').on('click', function (e) {
      let leaveType = $("#selectLeaveTypeOptions").val();
      let startDate = $("#fromDate").val();
      let endDate = $("#toDate").val();
      if (startDate != "" || endDate != "") {
        let startDateS = startDate.split("-");
        let endDateS = endDate.split("-");
        let dateText = startDateS[1] + "/" + startDateS[2] + "/" + startDateS[0] + " - " + endDateS[1] + "/" + endDateS[2] + "/" + endDateS[0];
        $(".plandates").text(dateText);

        $(".planStatusBarParent").children().removeClass();
        $(".planStatusBarParent").children().addClass('planStatusBar');
        $(".planStatusBar").addClass(leaveType);
      }
    });
  });

</script>
</html>