<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <% include ../partials/topnav %>
    <div class="container-fluid text-center">
        <!-- <div class="row content">
            <div class="col-sm-2 sidenav1">
              <p>

            </div> -->
        <div class="col-md-10 text-left">

            <!-- this will be the beginning of the form that will contain the employee's information -->
            <h5>Plan Status</h5>
            <div class="claimStatus">
                <div class="well">
                    <% planStatus.forEach(function(data) { %>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="planName"><%= data['leave_name'] %></div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="plandates" id="planDates"><%= data['from_date'] %>
                                    - <%= data['to_date'] %></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 planStatusBarParent">
                                    <!--<div class="<%= employeeLeaveClaimInfoData.leave_type_status %> planStatusBar"></div>-->
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                             style="width:<%= leaveDeterminationMatrix.approved %>%">

                                        </div>
                                        <div class="progress-bar progress-bar-warning" role="progressbar"
                                             style="width: <%= leaveDeterminationMatrix.pending %>%">

                                        </div>

                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             style="width:<%= leaveDeterminationMatrix.denied %>%">

                                        </div>
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                             style="width:<%= leaveDeterminationMatrix.not_applicable %>%">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <br><br>
                    <% }); %>

                    <!--                    <br><br>-->
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="planName">Short Term Disability (STD)</div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="plandates">MM/DD/YYYY - MM/DD/YYYY</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="planStatus1"></div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

            <br>

            <div class="form-row">
                <form>
                    <div class="form-row">
                        <h5>Determination </h5>
                        <div class="form-group col-md-12 well" style="padding-bottom: 50px;">

                            <br>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="fromDate">Start Date</label>
                                    <input type="date" class="form-control" id="fromDate"
                                           value="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           min="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           max="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="toDate">End Date</label>
                                    <input type="date" class="form-control" id="toDate"
                                           value="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           min="<%= employeeLeaveClaimInfoData.from_date_db %>"
                                           max="<%= employeeLeaveClaimInfoData.to_date_db %>"
                                           required>
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.leave_info_id %>"
                                           id="leaveInfoId">
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.leave_type %>"
                                           id="leaveType">
                                    <input type="hidden" value="<%= employeeLeaveClaimInfoData.emp_id %>"
                                           id="empId">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="input-leavetype">Leave Type</label>
                                    <select name="manager" id="selectLeaveTypeOptions"
                                            placeholder="Select Leave Type">
                                        <% leaveTypeStatus =
                                                {
                                                    pending: "Pending", denied: "Denied",
                                                    approved: 'Approved', notapplicable: 'Not Applicable'
                                                } %>

                                        <% Object.keys(leaveTypeStatus).forEach(function(key) { %>
                                            <% if(key === employeeLeaveClaimInfoData.leave_type_status) { %>
                                                <option value="<%= key %>" selected><%= leaveTypeStatus[key] %></option>
                                            <% } else { %>
                                                <option value="<%= key %>"><%= leaveTypeStatus[key] %></option>
                                            <% } %>

                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-group col-md-3Determination">
                                    <label for="inputEndDate4">Submit Change</label>
                                    <button type="button" class="btn btn-primary" id="leaveDecisionButton"
                                    <% if(employeeLeaveClaimInfoData['leave_type'] === 'intermittent') { %>
                                            data-toggle="modal" data-target="#myModal"
                                            <% } %>
                                    <% if(employeeLeaveClaimInfoData['leave_type'] === 'reducedschedule') { %>
                                            data-toggle="modal" data-target="#myModal1"
                                            <% } %>
                                    >Submit >
                                    </button>
                                </div>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <p id="employeeStatus">Status:Active</p>

                                        <!-- Modal content-->
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal"
                                                        id="intermittentParameterModelClose">&times;
                                                </button>
                                                <h5 class="modal-title">Enter Parameters</h5>
                                            </div>

                                            <div class="modal-body">


                                                <br>

                                                <div class="form-group">
                                                    <label for="flareupParams">Flare Ups</label>
                                                    <p class="numOfAbsences">Number of Absences</p>
                                                    <input type="text" class="form-control" id="flareUpsParams"
                                                           placeholder="Write Parameters For Flare Ups">
                                                </div>

                                                <br>

                                                <div class="form-group">


                                                    <br>

                                                    <label for="ovParams">Office Visits</label>
                                                    <p class="numOfAbsences">Number of Absences</p>
                                                    <input type="text" class="form-control" id="officeVisitsParams"
                                                           placeholder="Write Parameters For Office Visits">
                                                </div>


                                                <!-- Modal Task Completed Check box-->

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="sumbmit" class="btn btn-default"
                                                        data-dismiss="modal" id="intermittentParameterButton">submit
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal fade" id="myModal1" role="dialog">
                                    <div class="modal-dialog">
                                        <p id="employeeStatus">Status:Active</p>

                                        <!-- Modal content-->
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        id="reducedWorkScheduleClose"
                                                        data-dismiss="modal">&times;</button>
                                                <h5 class="modal-title">Enter Reduced Work Schedule</h5>
                                            </div>

                                            <div class="modal-body">
                                                <br>

                                                <table id="notifications">
                                                    <tr>
                                                        <th>Sunday</th>
                                                        <th>Monday</th>
                                                        <th>Tuesday</th>
                                                        <th>Wednesday</th>
                                                        <th>Thursday</th>
                                                        <th>Friday</th>
                                                        <th>Saturday</th>
                                                    </tr>

                                                    <tr id="reducedWS">
                                                        <label for="inputreducedWS">Enter Value for 1/1/2019 - 3/3/2019</label>

                                                        <td id="sundayRSHours"><input type="number" class="form-control"
                                                                                      id="inputsundayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="mondayRSHours"><input type="number" class="form-control"
                                                                                      id="inputmondayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="tuesdayRSHours"><input type="number" class="form-control"
                                                                                       id="inputtuesdayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="wednesdayRSHours"><input type="number" class="form-control"
                                                                                         id="inputwednesdayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="thursdayRSHours"><input type="number" class="form-control"
                                                                                        id="inputthursdayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="fridayRSHours"><input type="number" class="form-control"
                                                                                      id="inputfridayRSHours" placeholder="0">
                                                        </td>
                                                        <td id="SaturdayRSHours"><input type="number" class="form-control"
                                                                                        id="inputSaturdayRSHours" placeholder="0">
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">Close</button>
                                                <button type="sumbmit" class="btn btn-default"
                                                        data-dismiss="modal">submit</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="leaveDecisionSubmitButton">Submit ></button>
                        <button type="button"
                                onclick="location.href = '/claim<%= employeeLeaveClaimInfoData.leave_type %>/<%= employeeLeaveClaimInfoData.leave_info_id %>';"
                                class="btn btn-secondary">
                            Cancel >
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!--side bar where employee and supervisor info will populate-->
        <div class="col-sm-2 sidenav2">
            <div class="row">
                <p>
                    <a class="active" href="#">Employee Information</a>
                </p>
                <p>
                    <a href="#">Location Information</a>
                </p>
                <p>
                    <a href="#">Leave Reason</a>
                </p>
                <p>
                    <a href="#">Provider Information</a>
                </p>
                <p>
                    <a href="#">Leave Information</a>
                </p>
                <p>
                    <a href="#">Leave Home</a>
                </p>
                <br>
                <!-- <div class="col-sm-12"> -->
                <% include ../partials/employeeinfo.ejs %>
                <!-- </div> -->
            </div>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="noteArea">

                </div>
                <!-- </div> -->
            </div>

            <br>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <% include ../partials/employeecontactlist.ejs %>
                <div class="well claimInfoSummary">
                    <p id="updateClaimNumber">Leave ID: 2019000001</p>
                    <p id="dateOpened">Date Opened: 00/00/00 00</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="dateClosed">Date Closed:00/00/0000</p>
                    <p id="leaveStatus">Status:Opened</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<% include ../partials/footer %>

<script>

  $(document).ready(function () {
    $('#leaveDecisionButton').on('click', function (e) {
      let leaveType = $("#selectLeaveTypeOptions").val();
      let startDate = $("#fromDate").val();
      let endDate = $("#toDate").val();
      if (startDate != "" || endDate != "") {
        let startDateS = startDate.split("-");
        let endDateS = endDate.split("-");
        let dateText = startDateS[1] + "/" + startDateS[2] + "/" + startDateS[0] + " - " + endDateS[1] + "/" + endDateS[2] + "/" + endDateS[0];
        $(".plandates").text(dateText);

        $(".planStatusBarParent").children().removeClass();
        $(".planStatusBarParent").children().addClass('planStatusBar');
        $(".planStatusBar").addClass(leaveType);
      }
    });
  });

</script>
</html>